{% extends "base.html" %}
{% load i18n %}

{% block title %}
{{ site.name }}
{% endblock %}

{% block head %}
<script src="/media/frontend/js/highchart/highcharts.js"></script>
<script src="/media/frontend/js/highchart/highcharts-more.js"></script>
<script src="/media/frontend/js/highchart/exporting.js"></script>
{% endblock %}

{% block menuextras %}
    <li><a href="{% url edit vis.pk %}"><i class="fa fa-pencil"></i> Edit</a></li>
    <li><a href="{% url clear_cache vis.pk %}"><i class="fa fa-refresh"></i> Refresh</a></li>
{% endblock %}

{% block content %}
{% load staticfiles %}
<div id="chart" style="min-height:600px; margin: 0 auto"></div>
<script>
    var data = {{ data|safe }};
    console.log(data);


    // Add warning messages for channels with no data
    for (var i=0; i<data.messages.length; i++) {  addMessage(data.messages[i], 0); }
    if (data.series.length==0) bootbox.alert("No data");


    var chart =  $('#chart').highcharts({
        chart: {
            type: 'boxplot',
            zoomType: 'x'
        },
        title: {
            text: '{{ vis.name }}'
        },
        subtitle: {
            text: '{{ s_date }} to {{ e_date }}'
        },
        legend: {
            enabled: true
        },
        xAxis: data.xAxis,
        yAxis: data.yAxis,
        series: data.series
    });

</script>
{% endblock %}